.brands-wrapper {
  background-color: var(--bs-white);
  padding-block: 4.1875rem;
}

.brands {
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  max-width: calc(740px + 3rem);
  row-gap: 3rem;

  &__header {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    justify-content: center;
  }

  &__header__heading {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--bs-primary);
    margin-bottom: 0;

    @media (min-width: 45rem) {
      font-size: 2.625em;
    }
  }

  &__header__tagline {
    max-width: 34.375rem;
    margin-inline: auto;
    margin-bottom: 0;
    font-size: 1.125em;
    font-weight: 300;
    color: var(--bs-gray-600);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 1.875rem;
  }
}
